<div id='api_info'>
  {{#if info}}
    <div class="jumbotron">
      <h1>{{info.title}}</h1>
      <p>{{{info.description}}}</p>
      <ul class="list-inline">
      {{#if info.termsOfServiceUrl}}<li class="info_tos"><a href="{{info.termsOfServiceUrl}}">Terms of service</a></li>{{/if}}
      {{#if info.contact}}<li class='info_contact'><a href="mailto:{{info.contact}}">Contact the developer</a></li>{{/if}}
      {{#if info.license}}<li class='info_license'><a href='{{info.licenseUrl}}'>{{info.license}}</a></li>{{/if}}
      </ul>
    </div>
  {{/if}}
</div>
<div class='swagger-container' id='resources_container'>
    <ul id='resources' class="list-group"></ul>

    <div class="footer">
        <br>
        <br>
        <h4 style="color: #999">[ <span style="font-variant: small-caps">base url</span>: {{basePath}}
        {{#if apiVersion}}
        , <span style="font-variant: small-caps">api version</span>: {{apiVersion}}
        {{/if}}]</h4>
    </div>
</div>
