<div class="swagger-section">
  <div class="row">
    <div class="col-md-6">
      <h3 class="resource-heading">
        <a href='#!/{{id}}' onclick="Docs.toggleEndpointListForResource('{{id}}');">{{name}}</a>
        <small>{{#description}} : {{/description}}{{{description}}}</small>
      </h3>
    </div>
    <div class="col-md-6">
      <div class='text-right options'>
          <a href='#!/{{id}}' id='endpointListTogger_{{id}}' class="btn btn-link"
             onclick="Docs.toggleEndpointListForResource('{{id}}');">Show/Hide</a>
          <a href='#' class="btn btn-link" onclick="Docs.collapseOperationsForResource('{{id}}'); return false;">
            List Operations
          </a>
          <a href='#' class="btn btn-link" onclick="Docs.expandOperationsForResource('{{id}}'); return false;">
            Expand Operations
          </a>
          <a href='{{url}}' class="btn btn-link">Raw</a>
      </div>
    </div>
  </div>
  <div class="swagger-ui-wrap">
    <ul class='endpoints' id='{{id}}_endpoint_list' style='display:none'></ul>
  </div>
</div>
